@import url('__description/');
@import url('__image/');
@import url('__item/');
@import url('__title/');

.cards {
  width: 920px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
