@import url('_theme/_dark/section-title_theme_dark.css');

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 100px auto 20px;
  text-align: center;
  width: 60%;
}
