.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #F2F2F2;
    display: flex;
    /* ATTENTION margins for background-color */
}

.logo_place_header {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 64px;
    width: 154px;
    height: 31px;
}

.header__title {
    align-self: center;
    left: 64px;
    /* ATTENTION left alignment */
    line-height: 96px;
    font-size: 102px;
    font-style: bold;
    width: 730px;
    z-index: 1;
}

.header__subtitle {
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    font-style: normal;
    width: 388px;
    left: 64px;
    bottom: 30px;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 765px;
    height: 608px;
    bottom: 0;
}

.header__square-pic {
    position: absolute;
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
    background-color: #2F80ED;
}

/* .table__cell_theme_dark {
    width: 200px;
    color: white;
    right: 0;
    top: 80px;
} */

/* Description */

.two-columns {
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 100px;
}

.two-columns__brief {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2F80ED;
    width: 175px;
    /* align-self: flex-start; */
}

.two-columns__main-text {
    width: 80%;
    top: 100px;
    bottom: 100px;
    width: 80%;
    min-width: 784px;
    display: inline-flex;
    flex-direction: column;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    font-weight: bold;
}

/* .two-columns__paragraph:not(:last-child) {
    margin-bottom: 30px;
} */
